* {
  box-sizing: border-box;
}
body{
    overflow-x: hidden;
}
.hero-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
  align-items: flex-start;
}

/* Estilos individuais de cada imagem */
.hero-image-container,
.hero-image-container2,
.hero-image-container3 {
  position: relative;
  border-radius: 10px;
  top: 20px;
  left: 80px;
  
}

/* Tamanhos personalizados */
.hero-image {
  width: 590px;
  height: auto;
}

.hero-image2{
  width: 280px;
  height: auto;
  border-radius: 10px;

}
.hero-image3{
  width: 280px;
  height: auto;
  border-radius: 10px;
  margin-top: 200px;
  position: relative;
  right: 305px;
  
  
}
